<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca_Josias_83</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca_Josias_83.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #000000;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;
            margin-bottom: 20px;
            1
        }

        .sidebar a, p {
            padding: 15px;
            text-align: left;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            display: block;
            width: 100%;
        }

            .sidebar a:hover {
                background-color: #515151;
            }

        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <img src="https://madridislamico.org/wp-content/uploads/2020/05/Libros.jpg" alt="Perfil" class="profile-img">
        <p>Josias Kumul</p>
        <a href="/">Inicio</a>
        <a href="#">Libros</a>
        <a href="#">Categorías</a>
        <a href="#">Mi Cuenta</a>
        <a href="#">Contacto</a>
        <a href="#">Configuración</a>
    </div>

    <div class="content">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>